{% extends "onepiece/main.html" %}

{% block title %} Page affiche équipage {% endblock %} {% block content %}
  
<article>
    <h2>Informations sur l'équipage : {{equipage.nom}} </h2>
    <ol>
        <li>Nom : {{equipage.nom}}</li>
        <li>Capitaine : {{equipage.capitaine}}</li>
        <li>Bateau : {{equipage.nombateau}}</li>
        <li>Apparition : {{equipage.premiereapparition}}</li>
    </ol>
    <footer>
        <a href="/onepiece/ajoutmembre/{{equipage.id}}/">Ajouter un membre</a>
        <a href="/onepiece/equipages">Voir la liste des équipages</a>
        <a href="/onepiece/update/{{equipage.id}}/">Modifier</a>
        <a href="/onepiece/delete/{{equipage.id}}/">Supprimer</a>
    </footer>
</article>


{% endblock %}