{% extends "onepiece/main.html" %}

{% block title %} Mon index {% endblock %} {% block content %}
  
<article>
    <h2>Accueil du site</h2>
    <p>Sur ce site vous pouvez répertorier des équipages pirates ainsi que leurs membres dans une base de données grâces à l'article si dessous et la barre de navigation au dessus.</p>
</article>
<article class="accueil">
    <h2>Gestion des équipages :</h2>
    <footer class="centre" id="principal">
        <a href="/onepiece/ajoutequipage">Créer un équipage</a>
        <a href="/onepiece/equipages">Voir la liste des équipages</a>
        <a href="/onepiece/membres">Voir les pirates</a>
    </footer>
</article>

{% endblock %}