<!DOCTYPE html>
<html lang="fr">
  <head>
    {% load static %}
    <link rel="stylesheet" href="{%static 'onepiece/style.css' %}" />
    <title>{% block title %}Mon Site {% endblock %}</title>
  </head>
  <body>
    <aside id="sidebar">
      {% block sidebar %}
      <nav>
        <a href="/onepiece/">Index</a
        ><a href="/onepiece/equipages">Les équipages</a>
        <a href="/onepiece/ajoutequipage">Créer un équipage</a>
      </nav>
      {% endblock %}
    </aside>
    <div id="content">
      {% block content %}
      <h1>bloc principal</h1>
      {% endblock %}
    </div>
  </body>
  <footer id="footer">
      {% block footer %}
      <p>Pied de page</p>
      {% endblock %}
  </footer>
</html>
