<!DOCTYPE html>
<html lang="fr">
  <head>
    {% load static %}
    <link rel="stylesheet" href="{%static 'onepiece/style.css' %}" />
    <title>{% block title %}Mon Site {% endblock %}</title>
  </head>
  <body>
    <aside id="sidebar">
      {% block sidebar %}
      <nav>
        <a href="/onepiece/">Accueil</a>
        <a href="/onepiece/equipages">Les équipages</a>
        <a href="/onepiece/membres">Les pirates</a>
        <a href="/onepiece/ajoutequipage">Créer un équipage</a>
      </nav>
      {% endblock %}
    </aside>
    <div id="content">
      <main>
        {% block content %}
        <h1>bloc principal</h1>
        {% endblock %}
      </main>
    </div>
  </body>
  <footer id="fin">
    {% block footer %}
    <strong>Projet Django</strong>
    <h4>FRITSCHY Mathéo RT-131</h4>
    <a href="https://github.com/FritschyMatheo">
      <img
        src="../../static/onepiece/Images/github-mark-white.png"
        alt="Mon Github"
        width="24"
      />
    </a>
    {% endblock %}
  </footer>
</html>
