<!DOCTYPE html>
<html lang="fr">
  <head>
    {% load static %}
    <link rel="stylesheet" href="{%static 'onepiece/style.css' %}" />
    <title>{% block title %}Mon Site {% endblock %}</title>
  </head>
  <body>
    <aside id="sidebar">
      {% block sidebar %}
      <ul>
        <li><a href="/onepiece/index">Index</a></li>
        <li><a href="/onepiece/equipages">Les équipages</a></li>
      </ul>
      {% endblock %}
    </aside>
    <div id="content">
      {% block content %}
      <h1>bloc principal</h1>
      {% endblock %}
    </div>
  </body>
</html>